@model WebApplication3.Models.Kupione

@{
    ViewBag.Title = "Dane";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dane</h2>

@using (Html.BeginForm("Kup", "Kupiones"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Imie)
        @Html.TextBoxFor(m => m.Imie, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Imie)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nazwisko)
        @Html.TextBoxFor(m => m.Nazwisko, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nazwisko)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ulica)
        @Html.TextBoxFor(m => m.Ulica, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ulica)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.kodpocztowy)
        @Html.TextBoxFor(m => m.kodpocztowy, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.kodpocztowy)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.miasto)
        @Html.TextBoxFor(m => m.miasto, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.miasto)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.nrdomu)
        @Html.TextBoxFor(m => m.nrdomu, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.nrdomu)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.nrmieszkania)
        @Html.TextBoxFor(m => m.nrmieszkania, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.nrmieszkania)
    </div>



    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Kup</button>
}